* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  --cell-width: 30px;
  --cell-border: rgb(201, 201, 201);
  --ship-backgorund: #9c9c9c;
  --dragging-border: rgb(132, 132, 210);
  --dragging-background: rgb(253, 253, 253);
  --hovered: lime;
  --hover-effect: rgb(201, 250, 201);
  --not-allowed: red;
  --hit-color: rgb(217, 217, 217);
  --last-color: rgb(215, 240, 164);
  --primary-dark: #333;
  --secondary-dark: #444;
  --tertiary-dark: #18191a;
  --primary-light: #eee;
  --secondary-light: #ddd;
  --color-safe: #aaffaa;
  --color-danger: #ffbebe;
  --button-color: #b0b3b8;
}

#content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20%;
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary-light);
  background-color: var(--primary-dark);
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--secondary-light);
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-top {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: var(--secondary-dark);
}

.main-top-title {
  font-weight: 600;
  font-size: 1.4rem;
}

.main-top-subtitle {
  font-weight: 400;
  font-size: 0.8rem;
  font-style: italic;
}

.main-middle {
  width: 100%;
}

.preparation-wrapper,
.boards-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.preparation-wrapper {
  gap: 30px;
}

.boards-wrapper {
  gap: 100px;
}

.ships-container {
  width: 250px;
}

.ship-container {
  height: calc(1.5px + var(--cell-width));
  border: 1px dashed var(--primary-dark);
}

.len4-container {
  width: calc(4*var(--cell-width) + 4px);
}

.len3-container {
  width: calc(3*var(--cell-width) + 4px);
}

.len2-container {
  width: calc(2*var(--cell-width) + 4px);
}

.len1-container {
  width: calc(var(--cell-width) + 4px);
}

.ship-row {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.board-container,
.opponent-board-container,
.player-board-container {
  display: grid;
  grid-template-columns: repeat(11, var(--cell-width));
  grid-template-rows: repeat(11, var(--cell-width));
}

.coord-num {
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--secondary-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-grid {
  grid-column: 2 / 12;
  grid-row: 2 / 12;
  display: grid;
  grid-template-columns: repeat(10, var(--cell-width));
  grid-template-rows: repeat(10, var(--cell-width));
  border-left: thin solid var(--cell-border);
  border-bottom: thin solid var(--cell-border);
  background-color: var(--primary-light);
}

.cell {
  border-top: thin solid var(--cell-border);
  border-right: thin solid var(--cell-border);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.ship-cell {
  position: relative;
}

.draggable {
  display: grid;
  border: 2px solid var(--primary-dark);
  background-color: var(--ship-backgorund);
  opacity: 0.6;
  cursor: move;
}

.draggable-x {
  height: var(--cell-width);
  left: 0;
}

.draggable-y {
  width: var(--cell-width);
  top: 0;
}

.dragged {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

/* invalid */
.invalid {
  border: 2px solid var(--not-allowed);
}

.dragging {
  background-color: var(--primary-light);
  border: thin solid var(--dragging-border);
}

.hovered {
  background-color: var(--hovered);
}

.opitons-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.game-option {
  width: 100px;
  height: 50px;
}

/* Main bottom */
.main-bottom {
  margin-top: 60px;
}

.board-options-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.board-options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 15px;
}

.board-option {
  color: var(--secondary-dark);
  text-decoration: underline;
  cursor: pointer;
}

.prep-options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.prep-options-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}

.play-container-header {
  font-weight: 600;
  color: var(--secondary-dark);
}

.play-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.play-button {
  width: 100px;
  height: 50px;
  background-color: var(--primary-dark);
  border-radius: 5px;
  color: var(--secondary-light);
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.play-button:hover {
  background-color: var(--tertiary-dark);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  font-size: 0.9rem;
}

/* No display */
.hide {
  display: none;
}

/* No cursor */
.no-cursor {
  cursor: initial;
}

/* Hover effect */
.hover-effect:hover {
  background-color: var(--color-safe);
  cursor: pointer;
}

/* Opaque Effect */
.opaqued {
  opacity: 0.5;
}

/* hit */
.hit {
  background-color: var(--hit-color);
}

/* Last attack */
.last {
  background-color: var(--last-color)
}

/* sunk */
.sunk {
  border: 2px solid var(--not-allowed);
  background: none;
}

.uil-multiply {
  color: red;
  font-size: 1.5rem;
}

/* Code sharing and joining display styles */
.share-code-container,
.code-form-container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 100px;
  gap: 20px;
}

.code-container-header {
  color: var(--secondary-dark);
}

.code-container-code {
  font-size: 3rem;
  font-weight: 600;
  max-width: 300px;
  text-align: center;
  padding: 10px;
}

.code-container-waiting {
  font-style: italic;
  font-weight: 400;
  font-size: 0.8rem;
}

@media screen and (max-width: 700px) {
  :root {
    --cell-width: 28px;
  }

  .header {
    justify-content: center;
    padding-left: 0;
  }

  .main-top {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .preparation-wrapper,
  .boards-wrapper {
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
  }

  .boards-wrapper {
    gap: 30px;
  }

  .ship-row {
    height: 45px;
  }

  .board-options-container {
    padding-top: 10px;
  }

  .board-options-wrapper {
    padding: 10px;
    padding-bottom: 30px;
  }

  .prep-options-container {
    flex-wrap: wrap;
    gap: 30px;
  }

  .main-bottom {
    margin-top: 30px;
  }
}